* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #0f0f1a;
  min-height: 100vh;
}

body {
  background-color: #0f0f1a;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
